include _mixin
doctype
html(lang="es")
  head
    +head
    title Bombeo de Concreto | México | SECEYCO
    meta(name="description" content="Somos un proveedor estratégico en la industria de la construcción. Bombeo de concreto, Estabilización de suelos.")
  body
    
    +navigation(false)
    
    header.hero
      video(autoplay muted loop preload="metadata" poster="app/img/seceyco-bg.jpg")
        source(src="app/img/seceyco.mp4" type="video/mp4")
      .hero-body
          .container
            .has-text-centered
              img(src="app/img/seceyco-s.png" alt="Seceyco").seceyco-s
              .columns.is-centered
                .column.is-6
                  h2 EXPERTOS EN SERVICIOS PARA LA CONSTRUCCIÓN
                  a(href="#servicios"): i.fa.fa-angle-down

    #servicios
      div.band: h2.titulo SERVICIOS
      .columns.is-gapless
        a(href="bombeo-de-concreto.html").column.bombeo
          img(src="app/img/bombeo-de-concreto.png", alt="Bombeo de concreto")
          .bg
        a(href="mejoramiento-de-suelos.html").column.mejoramiento
          img(src="app/img/mejoramiento-de-suelos.png", alt="Mejoramiento de suelos")
          .bg
            
    #nosotros
      div.band: a(href="#nosotros"): i.fa.fa-angle-down     
      .columns.us
        .column.bg
          
        .column
          .section: .columns
            .column.is-8.is-offset-2
              h2.titulo NOSOTROS
              p Durante más de 38 años, SECEYCO ha participado en México en todo tipo de obra, como: Construcciones Habitacionales, Edificación, Centros Comerciales, obras de infraestructura como puentes, pasos a desnivel, túneles, plantas industriales, carreteras, presas, etc.
              p Varias de estas obras han requerido de un alto grado de especialización, dándonos así una importante experiencia que nos ha permitido convertirnos en el bombeador de concreto independiente con mayor participación en México.
              p La Visión de SECEYCO es: ser un proveedor estratégico en la industria de la construcción, aportando de manera continua nuevos productos y servicios.
              p De acuerdo a lo anterior, día a día nuestro Objetivo de innovación se centra en la mejora de los procesos de constructivos, es por ellos que hemos incursionado en el mejoramiento de suelos empleando para ello procesos comprobados con tecnología de punta con nuestra división de Movimiento de Tierras.
      .estadisticas
        .container
          .columns.has-text-centered
            .column
              p.is-size-2 #[span.odometer(data="1979") 1979]
              p.is-size-5 Año de Establecimiento
            .column
              p.is-size-2 +#[span.odometer(data="20") 20]
              p.is-size-5 Millones m3 bombeados
            .column
              p.is-size-2 +#[span.odometer(data="300") 300]
              p.is-size-5 Metros de altura en bombeo en croncreto
            .column
              p.is-size-2 #[span.odometer(data="21") 21]
              p.is-size-5 Días de colado continuo
            .column
              p.is-size-2 +#[span.odometer(data="1000") 1000]
              p.is-size-5 Proyectos completados
            .column
              p.is-size-2 +#[span.odometer(data="3500") 35000]
              p.is-size-5 M3 estabilizados con cal en un mes
    
    #proyectos
      div.band: h2.titulo CASOS DE ÉXITO
      .container.proyectos
        .columns
          .column(style="background-image:url('app/img/proyecto-1.jpg')"): a(href="proyectos.html#proyecto-1")
            h3 MINI BODEGAS ADVANCE
            p Estabilización de 30 cm de espesor de suelos arcillosos para la formación de Plataformas, empleando Óxido de Calcio (Estabilical) como material estabilizador, con una dosificación del 3%.
          .column(style="background-image:url('app/img/proyecto-2.jpg')"): a(href="proyectos.html#proyecto-2")
            h3 PLANTA KIA MOTORS MONTERREY
            p Estabilización de 30 cm de espesor de suelos arcillosos para la formación de Plataformas del Patio de Maniobras, con Óxido de Calcio (Estabilical) como material estabilizador y una dosificación del 4%.
          .column(style="background-image:url('app/img/proyecto-3.jpg')"): a(href="proyectos.html#proyecto-3")
            h3 RESIDENCIAL TORRE PIEDRA
            p Saturación 8,500 m2 y 50 cm de espesor de suelos arcillosos, para la formación de Plataformas de cimentación.
      .container.proyectos
        .columns
          .column(style="background-image:url('app/img/proyecto-4.jpg')"): a(href="proyectos.html#proyecto-4")
            h3 CARRETERA SILAO
            p Estabilización de 17,500 m3 de base cementada, de 27 cm de espesor, formada por amteriales pétreos y cemento portland.
          .column(style="background-image:url('app/img/proyecto-5.jpg')"): a(href="proyectos.html#proyecto-5")
            h3 COMPOSTELA PUERTO VALLARTA
            p Estabilización de una capa de 27 cm de espesor de base cementada formada por materiales pétreos y cemento portland.
          .column(style="background-image:url('app/img/proyecto-6.jpg')"): a(href="proyectos.html#proyecto-6")
            h3 LIBRAMIENTO PONIENTE ACAPULCO
            p Mezcla y tendido de 18,725 m3 de base formada por materiales pétreos de 25 cm de espesor, estabilizada con aditivo Zeolítico y cemento portland.
      .container
        .columns
          .column.has-text-centered
            a(href="proyectos.html").button.is-large PROYECTOS
    #clientes
      div.band: a(href="#clientes"): i.fa.fa-angle-down     
      .contenedor
        .container
          .has-text-centered
            h2.titulo CLIENTES
            p Estos son algunos de nuestros clientes satisfechos
          .columns.has-text-centered
            .column: img(src="app/img/postensa.png", alt="POSTENSA")
            .column: img(src="app/img/acciona.png", alt="ACCIONA")
            .column: img(src="app/img/mitikah.png", alt="MITIKAH")
            .column: img(src="app/img/ica.png", alt="ICA")
            .column: img(src="app/img/gcm.png", alt="GCM")
            .column: img(src="app/img/copri.png", alt="COPRI")
        div.band: a(href="#contacto"): i.fa.fa-angle-down     
            
      
    #contacto
      div.band: h2.titulo CONTACTO
      .container
        .columns
          .column.is-5.is-offset-1
            h3 ¡Queremos saber de ti!
            p Para todo tipo de preguntas, comentarios o cotizaciones, no dudes en contactarnos:
            form(action="#")
              .field: input(type="text" placeholder="Nombre" required).input
              .field: input(type="email" placeholder="Email" required).input
              .field: input(type="text" placeholder="Asunto" required).input
              .field: textarea(placeholder="Mensaje").textarea
              .has-text-right: button(type="submit").button Enviar
          .column.is-5
            h3 Teléfonos
            p 
              | (+52 55) 5587 4297
              br
              | 5587 8928
              br
              | 5587 0565
              br
              | Lada Sin Costo: (01800) 702 2010 Ext: 0 
            a(href="cotiza.html").button.is-large COTIZA
            hr
            h3 Para control o pedidos
            h3 Tel: (+52 55) 5587 4297
            
            a(data-modal="#modal-queretaro").button.is-warning.is-medium.is-rounded Querétaro
            a(data-modal="#modal-puebla").button.is-warning.is-medium.is-rounded Puebla
            a(data-modal="#modal-cancun").button.is-warning.is-medium.is-rounded Cancún
            a(data-modal="#modal-cdmx").button.is-warning.is-medium.is-rounded CDMX
        div.band: a(href="#sucursales"): i.fa.fa-angle-down     
              
        
    #sucursales
      div.band: h2.titulo SUCURSALES
      .container.has-text-centered
        +sucursalimg
      
      
      
      
      
    
    +modalnmap('modal-queretaro')
      .has-text-centered
        h2 QUERÉTARO
      p Prolongación Tecnológico 123, San Agustín El Retablo, Querétaro Querétaro, C.P. 76150
      p Tel: 0144 2537 5931
      p Fax: 0144 2537 5932
      | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.7282907390436!2d-100.4162521420745!3d20.59915077682097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ac883e91d87%3A0xe77c34594c028855!2sAv+Tecnol%C3%B3gico+123%2C+La+Piedad%2C+76150+Santiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1ses!2smx!4v1519813911710" width="100%" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    +modalnmap('modal-cdmx')
      .has-text-centered
        h2 CDMX
      p Prolongación Tecnológico 123, San Agustín El Retablo, Querétaro Querétaro, C.P. 76150
      p Tel: 0144 2537 5931
      p Fax: 0144 2537 5932
      | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.7282907390436!2d-100.4162521420745!3d20.59915077682097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ac883e91d87%3A0xe77c34594c028855!2sAv+Tecnol%C3%B3gico+123%2C+La+Piedad%2C+76150+Santiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1ses!2smx!4v1519813911710" width="100%" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    +modalnmap('modal-puebla')
      .has-text-centered
        h2 PUEBLA
      p Prolongación Tecnológico 123, San Agustín El Retablo, Querétaro Querétaro, C.P. 76150
      p Tel: 0144 2537 5931
      p Fax: 0144 2537 5932
      | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.7282907390436!2d-100.4162521420745!3d20.59915077682097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ac883e91d87%3A0xe77c34594c028855!2sAv+Tecnol%C3%B3gico+123%2C+La+Piedad%2C+76150+Santiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1ses!2smx!4v1519813911710" width="100%" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    +modalnmap('modal-cancun')
      .has-text-centered
        h2 CANCÚN
      p Prolongación Tecnológico 123, San Agustín El Retablo, Querétaro Querétaro, C.P. 76150
      p Tel: 0144 2537 5931
      p Fax: 0144 2537 5932
      | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.7282907390436!2d-100.4162521420745!3d20.59915077682097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ac883e91d87%3A0xe77c34594c028855!2sAv+Tecnol%C3%B3gico+123%2C+La+Piedad%2C+76150+Santiago+de+Quer%C3%A9taro%2C+Qro.!5e0!3m2!1ses!2smx!4v1519813911710" width="100%" height="230" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    
    footer
      +footer
              
    +scripts
